<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="index.html" class="logo">
      <img src="img/logo.png" alt="Logo Image">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <a href="index.html" class="site-title"><h1>Tim Lindgren</h1></a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="about">About</a></li>
       <li class="nav-link more"><a href="javascript:void(0)">Portfolio</a>
          <ul class="submenu">
            <li>
                <a href="resume">Resume</a>
            </li>
            <li>
                <a href="projects">Projects</a>
            </li>
            <li>
                <a href="presentations">Presentations</a>
            </li>
            <li>
                <a href="writings">Writings</a>
            </li>
            
          </ul>
        </li>
        <li class="nav-link"><a href="https://twitter.com/timlindgren" class="social" title="Twitter">
           <i class="fa fa-twitter"></i><span class="sr-only">Twitter</span>
         </a>
         </li>
         <li class="nav-link"><a href="http://www.linkedin.com/in/timlindgren/" class="social" title="Linked In">
            <i class="fa fa-linkedin"></i><span class="sr-only">Linked In</span>
          </a>
          </li>
          <li class="nav-link"><a href="https://vimeo.com/timlindgren" class="social" title="Vimeo">
             <i class="fa fa-vimeo-square"></i><span class="sr-only">Vimeo</span>
           </a>
           </li>
        
      </ul>
    </nav>
  </div>
</header>
