{% layout "default" %}
{% block content %} 

   <!-- CONTENT ======================== -->

  <div class="page-title">
      <div class="container">
      <h2> Place Blogging: Local Economies of Attention in the Network </h2>
      </div><!-- /container -->
  </div>
  
  <div class="container readable-width">
      <article class="page">
      	<div class="page-content">
      	
      <p>Doctoral Dissertation by Tim Lindgren, 2009, Boston College</p>
      
      <figure>
      <img src="https://raw.githubusercontent.com/tlindgren/placeblogging/master/images/placeblogging-image.jpg" alt="Place Blogging Cover Image" />

      </figure>
      
      <p>This study examines the emergence of place blogging as an online genre designed to foster a deeper sense of place and to share local knowledge. Focusing on a period between 2003 and 2006, it spotlights a transitional moment in web culture when the relationship between online life and offline life is undergoing an important shift. A rhetorical analysis of place bloggers reveals how genre remediation offers them a range of strategies for managing the flow of attention between self, place, and audience as they interact around digital objects in the network. These insights offer important contributions to scholarly conversions interested in examining how online forms of rhetoric continue to evolve and how our ideas about place are adapting to life in a networked society.</p>
      
        <strong><a href="https://github.com/tlindgren/placeblogging">View on Github</a></strong>      	
      	
      	</div>
      </article>
  </div>
   <!-- CONTENT END ======================== -->
   
  {% endblock %}