body {
font-family:Helvetica,sans-serif;
background:#ddd;
}




h1#page-title {
margin-bottom:.5em;
color:#000;
font-family:Georgia,serif;
}




h2 {
font-size:1.6em;
font-family:Georgia,serif;
}




p {
margin-top:.5em;
}




.region-header .page-element {
width:100%;
background:#fff;
}




div.page-width {
background:#fff;
border-left:1px solid #ccc;
border-right:1px solid #ccc;
border-bottom:1px solid #ccc;
width:100%;
max-width:960px;
}




.page {
padding-bottom:0;
}




h1#site-name {
font-size:2.5em;
height:auto;
line-height:auto;
}




h1#site-name a {
color:#333;
}




/* 
#block-block-176 {
padding-top: 1.2em;
font-size: 1.8em;
font-style: italic;
width: auto !important;
float: right;
margin-right: 13%;
color: #333;
line-height: 1.2em;
font-family:Georgia,serif;
*/
/* Hidden but accessible to screen readers */
#block-block-176 {
text-indent:100%;
white-space:nowrap;
overflow:hidden;
height:0;
}




#header-inner {
background-image:url(http://nectfl.drupalgardens.com/sites/nectfl.drupalgardens.com/files/subtitle-background2.jpeg);
background-repeat:no-repeat;
background-position:97% .2em;
}




/* bring main menu box flush with sides */
.stack .box {
padding-left:0;
padding-right:0;
width:auto;
}




/* extra padding above main content on homepage */
.wrapper-content .stack {
padding-top:0;
padding-left:1em;
}




/* Provide some padding in headder and content area */
#header-inner {
padding:1.4em;
}




#content {
padding:2em;
}




.not-front #content {
padding-top:2em;
margin-top:0;
}




.front #content {
padding-top:0;
}




a,a:link,a.active,a:visited {
color:#099;
}




li a.active {
color:#099;
}




div.site-name-wrapper {
margin-bottom:.5em;
}




#navigation {
margin-top:2em;
}




/* Hidden but accessible to screen readers */
.front #page-title,#navigation-region h2,.block-menu h2 {
text-indent:100%;
white-space:nowrap;
overflow:hidden;
height:0;
}




/* main menu block */
#navigation-region .content ul {
background:#099;
padding:1em 1em 1em 2em;
}




#navigation-region .content ul a {
color:#fff;
font-size:1.4em;
}




#breadcrumb {
display:none;
}




#logo {
margin-right:0;
}




.logo-wrapper {
float:left;
width:auto!important;
margin-left:1em;
}




.site-name-wrapper {
margin-left:10em;
width:80%!important;
}




#navigation {
margin-top:0;
}




#navigation-region .content ul {
background:#00a5a5;
/* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYTVhNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDg0ODQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background:-moz-linear-gradient(top,#00a5a5 0%,#008484 100%);
/* FF3.6+ */
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#00a5a5),color-stop(100%,#008484));
/* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,#00a5a5 0%,#008484 100%);
/* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,#00a5a5 0%,#008484 100%);
/* Opera 11.10+ */
background:-ms-linear-gradient(top,#00a5a5 0%,#008484 100%);
/* IE10+ */
background:linear-gradient(to bottom,#00a5a5 0%,#008484 100%);
/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a5a5',endColorstr='#008484',GradientType=0);
/* IE6-8 */
}




#navigation-region .content ul {
padding:.7em 1em .7em 2em;
}




#block-search-form {
float:right;
margin-top:-2.4em;
margin-right:3%;
}




#block-search-form #edit-search-block-form--2 {
background:#ccc;
}




.tabs {
display:none;
}




body.toolbar .tabs {
display:block;
margin-top:1.3846em;
margin-bottom:1.3846em;
}




#block-menu-menu-awards-menu,#block-menu-menu-menu-about,#block-menu-menu-resources-menu,#block-menu-menu-menu-conference,#block-menu-menu-publications-menu {
border-left:1px solid #CCC;
padding-left:1em;
}




.sidebar {
width:25%;
}




.sidebar.right {
margin-left:5%;
padding-top:2em;
margin-top:1.8em;
}




#sidebar-b .block-menu ul.menu {
list-style:none;
margin-left:-1.3em;
}




#sidebar-b .block-menu ul.menu li {
}




#sidebar-b .block-menu ul.menu li a {
display:block;
margin-bottom:0;
display:block;
padding:.4em;
}




#sidebar-b .block-menu ul.menu li a:hover {
display:block;
background:#ccc;
}




#sidebar-b .block-menu ul.menu li.level-2 {
list-style:none;
}




#sidebar-b .block-menu ul.menu li.level-2 a {
padding-left:1em;
border-left:none;
border-right:none;
}




fieldset {
-webkit-border-radius:7px;
-moz-border-radius:7px;
border-radius:7px;
border:1px solid #999;
padding:0 2em 1em;
margin-bottom:1.5em;
}




fieldset legend {
font-weight:700;
font-size:1.5em;
}




#prefooter-first-region,#prefooter-second-region,#prefooter-third-region {
padding:0 1.5em;
}




div.messages {
margin-bottom:1em;
}




div.messages p {
margin-top:0;
}




.front #sidebar-b {
width:47%;
margin-top:0;
padding-top:.5em;
padding-right:1.5em;
}




.front #sidebar-b h2 {
font-size:1.86em;
}




.rb-textbox-type-header {
font-size:2em;
font-weight:400;
font-family:Georgia,serif;
}




.rb-textbox-type-text {
font-size:1.2em;
line-height:150%;
}




#banner {
margin-bottom:1em;
margin-top:2em;
border-bottom:1px solid #ccc;
padding-bottom:1em;
}




.controls {
text-align:right;
margin-top:1em;
font-size:1.2em;
margin-right:3em;
}




#copyright .content {
padding:1em 1.5em;
}








a.link-button,
.field-name-field-wufoo-form-link a
{
-webkit-border-radius:7px;
-moz-border-radius:7px;
border-radius:7px;
border:1px solid #999;
padding:.5em;
background:#099;
color:#fff;
margin-right:.4em;
margin-bottom: 1em;
display:inline-block;
}








.front a.link-button {
-webkit-border-radius:7px;
-moz-border-radius:7px;
border-radius:7px;
border:1px solid #999;
padding:.5em;
display:inline-block;
width:43%;
background:#099;
color:#fff;
float:left;
margin-right:.4em;
margin-bottom:.4em;
}




#content-area ul {
margin-top:.6em;
}




#content-area li {
padding-bottom:.4em;
margin-left:1.5em;
}





/* fix problem with links being covered by facebook button frame */
.front .media-thumbnail-frame {
clear: both;
}

hr {
border: none;
height:2px;
background-color:#999;
margin-bottom: 1em
}

body.page-sessions .view-grouping-header {
font-size: 1.8em;
padding-bottom: .5em;
border-bottom: 1px solid #CCC;
margin-bottom: .5em;
margin-top: 1em;
}

body.page-sessions .views-field-title, body.page-workshops .views-field-title {
font-weight:bold;
font-size:1.1em
}

body.page-workshops .view-workshops h3{
border-bottom: 1px solid #ccc;
padding-bottom: .5em;
margin-bottom: .5em;
margin-top: 1em;
}

#block-views-exp-workshops-page-1 form, #block-views-exp-sessions-page-1 form {
margin-top:0;
}