

/* ==========================================================================
   Author's custom styles
   ========================================================================== */





body {
 	font-size: 1.7em;
 	padding-top: 50px;
 }
 
h1 {
    font-size: 1.2em;
    margin: 0;
    font-weight: normal;
    float: left;
}

h1 a {
    font-size: 1.2em;
    margin: 0;
    font-weight: normal;
}

.navbar-default {
background-color: #fff;
background: #fff;
background-image: none;
}

.navbar-default .navbar-brand{
    color: #363f48;
}

.navbar-default .navbar-brand:hover{
    color: #e25401;
}

.navbar-default  .nav>li>a.social {
    padding-left: 10px;
    padding-right: 0px;
}

.navbar-default  .nav>li>a:hover, .nav>li>a.social:hover{
     color: #e25401;
}
 
 a {
 color: #e25401;
 text-decoration: none;
 }
 
 blockquote {
 padding: 10px 20px;
 margin: 0 0 20px;
 border-left: none;
 }
 
 #logo {
     float: left;
     height: 50px;
     padding: 8px 9px;
 }
 
 .homepage-header {
     background: #363f48;
     color: #fff;
     padding-bottom: 2em;
     text-align: center;
      padding-left: 1em;
      padding-right: 1em;
 }
 
 .homepage-header h3 {
     font-size: 2.5em;
 }
 
 
 .homepage-header p {
     font-size: 1.25em;
     margin-top: .2em;
 }
 
 .recent {
     margin: auto 1em;
 }
 
.recent .panel-default img {
    padding-bottom: 1em;
}
  
 .page-title {
      background: #363f48;
      padding:1em 0;
      margin-bottom:2em;
 }
 
 .page-title h2{
    color:#fff;
    font-size:3em;
    font-weight:normal;
    margin-top: .2em;
    margin-left: .2em;
 }
 
 .readable-width {
     width: 100%;
     max-width: 768px;
     font-size: 1.2em;
     margin: auto;
}	

.readable-width blockquote,  
.readable-width ol,  
.readable-width p,  
.readable-width ul {
    margin-bottom: 1.2em;
} 

.readable-width li, .readable-width ol {
    margin-bottom: 1.1em;
} 



.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
 background-color: transparent;
}	


@media (min-width: 992px){ 

.homepage-header {
    background: #363f48;
    color: #fff;
    padding: 5em 0 6em 0;
    text-align: left;
}

.homepage-header p {
    font-size: 1.25em;
    margin-top: 1em;
}

.recent {
    margin:auto;
    text-align: left;
}

.recent .col-md-4 {
    width: 32%;
    margin-right: 1%;
}

}

 
 /* @group Container */
 
 @media (min-width: 768px) {
   .container {
     width: 750px;
   }
 }
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
 }
 @media (min-width: 1000px) {
   .container {
     width: 970px;
   }
 }
 
 /* @end */
 
 #block-search-form {
	display: table;
	padding-top: 3px;
}

.logo img {
	height: auto;
	width: 30px;
}

.navbar>.container .navbar-brand {
	text-transform: uppercase;
	font-size: 1.4em;
}

.navbar-inverse .navbar-brand {
color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
color: #ddd;
font-size: 120%;
}

.navbar-inverse {
background-color:  #363f48;
}

.navbar-btn {
	margin-top: 9px;
	margin-bottom: 0;
}

/* @group TOC */

#block-block-16 {
	margin-top: 3em;
}

#block-block-16 .nav>li.active>a{
	font-weight: bold;
	color: #fff;
	background: #363f48;
}

.region-content h2:before { 
  display: block; 
  content: " "; 
  margin-top: -70px; 
  height: 70px; 
  visibility: hidden; 
}

.toolbar.toolbar-drawer h2:before {
	display: block; 
	content: " "; 
	margin-top: -130px; 
	height: 130px; 
	visibility: hidden; 
}
/* @end */

 /* @group Home */
 
 body.front.navbar-is-fixed-top {
 padding-top: 120px!important;
 }
 
 body.front.toolbar-drawer.navbar-is-fixed-top {
 padding-top: 220px!important;
 }
 
.front #block-search-form {
 	margin-top: 1.3em;
 }
 
 .front #navbar .nav {
 	margin-top: 1em;
 }
 
 .front .page-header {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
 }


 #aboutme-blurb {
 	font-size: 1.6em;
 	padding-top: 1.5em;
 	padding-bottom: 1em;
 }

 
 @media (max-width: 768px) {
  #aboutme-blurb {
  	font-size: 1.4em;
  	padding-top: 0em;
  	padding-bottom: 1em;
  }
  
  body.front.navbar-is-fixed-top {
  padding-top: 80px!important;
  }
  
  }
 
 .readmore {
 	font-size: 75%;
 }
 
 
#whatido .col-md-4 {
 background: #6E8196;
 color: #fff;
 height: auto;
 border: 5px solid #fff;
 padding: 1em;
 font-size: 1.3em;
 margin-bottom: 1em;
 -webkit-border-radius: 8px;
 -moz-border-radius: 8px;
 border-radius: 8px;
 }
 
 #homepage-projects .col-md-4 {
background: #ddd;
height: auto;
border: 5px solid #fff;
padding: .5em 1em 1em 1em;
margin-bottom: 1em;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
  }
 
 .front .field-name-body img {
 	padding-bottom: 1em;

 }
 
 .front .toolbar.toolbar-drawer h2:before,  .front h2:before {
 display: block;
 content: " ";
 margin-top: 0;
 height: 0;
 visibility: hidden;
 }
 
 .front h3 {
 	clear: both;
 }
 
 @media (min-width: 1000px) {
.front .logo  {
	 margin-bottom: 0;
}

.front .logo img {
	height: auto;
	width: 65px;
}

.front .navbar>.container .navbar-brand {
color: #ffffff;
letter-spacing: 1px;
padding-left: 2px;
font-size: 2.2em;
text-transform: uppercase;
padding: .8em .5em .5em .5em;
} 
}
 
 
 /* @end */
 
.pull-left {
 	padding-right: 1em;
 	padding-bottom: .5em;
 }
 
.pull-right {
 	padding-left: 1em;
 	padding-bottom: .5em;
 }
 
@media (max-width: 500px) {
.main-container .pull-left, .main-container .pull-right {
	float: none !important;
	margin: auto;
	display: block;
 }
 } 
 
.container .jumbotron, .container-fluid .jumbotron {
padding:0;
background:none;
}

#page-About img {
    float:left;
    padding-right:1em;
}













