body {
    padding-bottom: 2em;
}

// Homepage

.hero {
    background: #363f48;
    color: #fff;
    text-align: center;
    padding: 2em 1em;
}

.hero-boxes {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $base-font-color: $dark-gray !default;
  
  a {
    text-decoration: none;
  }  
  //////////////////////////////////////////////////////////////////////////////////

  $flex-box-border-color: $light-gray;
  $flex-box-border: 1px solid $flex-box-border-color;
  $flex-box-background: lighten($base-background, 1%);
  $flex-box-gutter: 0.4em;
  $flex-box-width: 18em;
  $flex-box-color: transparentize(#fff, 0.1);
  
    @include outer-container();
    @include clearfix;
    @include display(flex);
    @include justify-content(center);
    @include align-items(stretch);
    @include flex-wrap(wrap);
    clear: both;
    text-align: center;
    
    h2 {
    @extend %visuallyhidden;
    }
    
    h3 {
        font-size: 2.5em;
    }

  .flex-box {
    @include transition (all 0.2s ease-in-out);
    @include flex(2 2 15em);
    @include align-self(stretch);
    background: $flex-box-background;
    border-radius: $base-border-radius;
    display: block;
    margin: $flex-box-gutter;
    padding: 2em 2em 3em 2em;

    p {
      color: transparentize($flex-box-color, 0.1);
      line-height: 1.5em;
      margin: auto;
      font-size: 1.2em;
      
    }
  }

}

.recent {
    @include outer-container();
    
    padding: 0 1em;
    
    @include media($large-screen) {
      padding: 0;
    }
    
    
    h2 {
        font-size: 2em;
        margin-top: 1em;
        margin-left: .3em;
    }
        
    h3 {
        font-size: 1.5em;
    }
    
    img {
        margin-bottom: .5em;
        width: 100%;
    }
}

.recent-boxes{
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $base-font-color: $dark-gray !default;
  
  a {
    text-decoration: none;
  }  
  //////////////////////////////////////////////////////////////////////////////////

  $flex-box-border-color: $light-gray;
  $flex-box-border: 1px solid $flex-box-border-color;
  $flex-box-background: lighten($light-gray, 2%);
  $flex-box-gutter: 0.4em;
  $flex-box-width: 18em;

    @include clearfix;
    @include display(flex);
    @include align-items(stretch);
    @include flex-wrap(wrap);
    clear: both;

    .recent-box {
      @include transition (all 0.2s ease-in-out);
      @include flex(2 2 15em);
      @include align-self(stretch);
      background: $flex-box-background;
      border-radius: $base-border-radius;
      display: block;
      margin: $flex-box-gutter;
      padding: 2em 2em 3em 2em;
  
      p {
        line-height: 1.5em;
        margin: auto auto 1em auto
      }
      
    }
      
}



// Page

.page-content {
    @include outer-container(750px);

    padding: 0 1em;
    
    @include media($large-screen) {
      padding: 0;
    }
}

.page-title {
     background: #363f48;
     padding:.5em 1em;
     margin-bottom:2em;
     
     @include media($large-screen) {
     padding:1em 1em;
     }
}

.page-title-wrapper {
    @include clearfix;
    @include outer-container;
    padding-left: 1em;
}

.page-title h2{
   color:#fff;
   font-size:3em;
   font-weight:normal;
}

.img-left {
    float: left;
    margin-right: .5em;
    margin-bottom: .5em;
}

.about {
   border:1px solid #565656;
   border-radius: $base-border-radius;
   padding: 1em;
   margin-bottom:1.5em
}

.about img {
    float: left;
    margin-right: 1em;
    margin-bottom: 0;
   border:1px solid #565656;
}

