{% layout "default" %}
{% block header-title %} Writings | Tim Lindgren {% endblock %}
{% block page-title %}Writings{% endblock %}

{% block content %} 

   <!-- CONTENT ======================== -->
      	
   <ul>
   <li>With Joseph Nugent, &#8220;<a href="http://books.google.com/books?id=qvz74iqJn2YC&amp;lpg=PA373&amp;pg=PA373#v=onepage&amp;q&amp;f=false">Googlemaps and Drupal: Walking Ulysses by Mapping Novels in the Digital Humanities</a>&#8221; in _Transformation in Teaching: Social Media Strategies in Higher Education._ Edited by Catheryn Cheal, John Coughlin, and Shaun Moore. Santa Rosa, CA: Informing Science pp, 2012 (pp. 373&#8211;389).</li>
   <li>&#8220;<a href="http://timlindgren.com/placeblogging">Place Blogging: Local Economies of Attention in the Network</a>.&#8221; Doctoral Dissertation. Department of English, Boston College. May 2009.</li>
   <li>With Derek Owens. “From Site to Screen, From Screen to Site: Merging Place-based Pedagogy with Web-based Technology.” <a href="http://www.sunypress.edu/details.asp?id=61468">Locations of Composition</a>. Ed. Christian Weisser and Christopher Keller. (State U of New York P, 2007).</li>
   <li>&#8220;Composition and the Rhetoric of Eco-Effective Design.&#8221; <a href="http://www.amazon.com/Coming-into-Contact-Explorations-Ecocritical/dp/0820328863/sr=1-1/qid=1169509406/ref=sr_1_1/002-4669124-8149661?ie=UTF8&amp;s=books"><em>Coming into Contact: New Essays in Ecocritical Theory and Practice</em></a> (University of Georgia Press, 2007)</li>
   <li>With Paula Mathieu, Staci Shultz and George Grattan. <a href="http://www.ablongman.com/catalog/academic/product/0,1144,0321316851,00.html"><em>Writing Places: A Longman Topical Reader</em></a>. Longman Press, 2005.</li>
   <li>&#8220;<a href="http://english.ttu.edu/kairos/10.1/binder2.html?coverweb/lindgren/index.htm">Blogging Places: Locating Pedagogy in the Whereness of Weblogs</a>.&#8221; <em>Kairos: A Journal of Rhetoric, Technology, and Pedagogy</em>. 10:1 (Fall 2005).</li>
   </ul>   	
      	
   <!-- CONTENT END ======================== -->
   
{% endblock %}